<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CashClock2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CashClock2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A72D63641BCA75480036DA06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7595ABF1AF95FD7000E53D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A76774ED1ABB71CA00A75265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A76775021ABB71CB00A75265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7D7E16C1BCAEE850099B4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7D7E1901BCAF4180099B4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
