<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CashClock2 WatchKit (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CashClock2 WatchKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CashClock2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A70F3EE61DAADDCA005E5ABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A70F3F0F1DAAE2B9005E5ABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A70F3F371DAAE301005E5ABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7595ABF1AF95FD7000E53D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A76774ED1ABB71CA00A75265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A76775021ABB71CB00A75265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
